body {
    margin: 0;
    text-align: center;
}

#container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
}

.charts {
    flex-direction: column;
    align-items: center;
}

.dashboard-report-list {
    width: 50%;
    height: 50%;
}

.chart1, .chart2 {
    width: 100%;
    height: 100%;
}

.chart1-wrapper, .chart2-wrapper {
    width: 100%;
    height: 100%;
}

.dashboard-report-list {
    width: 95%;
}

.marker-map {
    margin-bottom: 15px;
}

.dashboard-report-list {
    margin-left: auto;
    margin-right: auto;
}

.marker-map {
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 700px) {

    #container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        width: 50%;
        height: 50%;
        background-color: #fff;
    }

    .charts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .chart1, .chart2 {
        width: 50%;
        height: 50%;
    }

    .dashboard-report-list {
        max-height: 75vw;
        max-width: 30%;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .dashboard-report-list::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

@media only screen and (min-width: 1000px) {
    .dashboard-report-list {
        max-width: 50%;
        max-height: 45vw;
    }
}